body, html{
    height: calc(100% - 2em);
    margin: 0;
    /*front-family: "Montserrat";*/
}
body{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8db58e+0,acb7ad+100 */
    /*background: #8db58e; /* Old browsers */
    /*background: -moz-linear-gradient(left,  #8db58e 0%, #acb7ad 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(left,  #8db58e 0%,#acb7ad 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: linear-gradient(to right,  #8db58e 0%,#acb7ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8db58e', endColorstr='#acb7ad',GradientType=1 ); /* IE6-9 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+0&1+0,0.34+100 */
    background: -moz-linear-gradient(left, rgba(89,106,114,1) 0%, rgba(89,106,114,0.34) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(89,106,114,1) 0%,rgba(89,106,114,0.34) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(89,106,114,1) 0%,rgba(89,106,114,0.34) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#57596a72',GradientType=1 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.container{
    width: 80%;
    margin:0 auto;

}

header{
    background : white;
}

.heading{
    float: left;
    padding: 10px 0;
}

nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 25px;

    position: relative;
}

nav a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color:cadetblue;
}

nav a::before{
    content:'';
    display: block;
    height:5px;
    background-color: cadetblue;

    position:absolute;
    top:0;
    width:0%;

    transition: all ease-in-out 120ms;
}

nav a:hover::before{
    width:100%
}